@media(max-width:1200px){
    html{
        font-size: 9px;
    }
}
@media(max-width:1024px){
    .copy-right {
        flex-direction: column-reverse;
    }
    .footer-links ul {
        margin-bottom: 10px;
    }
}

@media(max-width:992px){
    .close, .toggle{
        display: block;
        font-size: 25px;
        color: #fff;
    }
    .close{
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .main-nav ul {
        align-items: flex-start;
        flex-direction: column;
    }
    .main-nav ul li {
        padding: 1rem 0;
    }
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        height: 100vh;
        z-index: 9;
        width: 400px;
        padding: 50px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
}
    .menuToggle .main-nav{
        transform: translateX(0%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}


@media(max-width:850px){
    .hotel-main .row {
        flex-direction: column;
    }
    .hotel-main .row .col-md-5, .hotel-main .row .col-md-7 {
        width: 100%;
    }
    .hotel-img {
        height: 350px;
        width: 100%;
    }
    .first-wrap .row {
        flex-direction: column-reverse;
    }
    .about-us .row {
        flex-direction: column-reverse;
    }
    .about-us .row .col-md-5, .about-us .row .col-md-7{
        width: 100%;
    } 
    .about-img {
        height: 400px;
        margin-bottom: 20px;
    }
    .plan-card-box {
        max-width: 650px;
    }
    .link-img {
        height: 350px;
    }
    .link-wrap {
        flex-direction: column;
    }
    .links-card {
        width: 100%;
    }
    .ptb-70 {
        padding: 50px 0;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .site-banner {
        height: 550px;
    }
}
@media(max-width:767px){
    .site-banner {
        height: 500px;
    }
    .banner-txt h1 {
        font-size: 5rem;
    }
    .banner-txt p {
        font-size: 2.2rem;
    }
    .plan-card-box {
        flex-direction: column;
    }
    .plan-card {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .plan-card:last-child{
        margin-bottom: 0;
    }
    .about-img {
        height: 350px;
    }
    .link-img {
        height: 300px;
    }
    .footer-logo img {
        max-width: 250px;
    }
    .footer-links ul {
        margin-bottom: 20px;
        flex-direction: column;
        gap: 5px;
    }
    .site-banner.sub-banner {
        height: 400px;
    }
    .site-banner {
     padding: 0 20px;
    }
    .sub-banner .banner-txt h1 {
        font-size: 4.8rem;
    }
    .hotel-text {
        padding: 2rem;
    }
    .site-heading h2 {
        font-size: 3.8rem;
    }
    .hotel-text h3 {
        font-size: 3.3rem;
    }
    .hotel-img {
        height: 300px;
    }
}
@media(max-width:575px){
    .site-logo img {
        max-width: 22rem;
    }
    .main-nav {
        width: 100%;
    }
}
@media(max-width:350px){
    html {
        font-size: 8px;
    }
    html {
        font-size: 8px;
    }
    .hotel-wrap {
        margin-top: 30px;
    }
}