@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global css start here */
html{
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
}
/* .pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.ptb-30{
    padding: 30px 0;
} */
.pt-50 {
    padding-top: 50px ;
}
.pb-50 {
    padding-bottom: 50px;
}
.ptb-50 {
    padding: 50px 0;
}
.pb-70 {
    padding-bottom: 70px;
}
.ptb-70 {
    padding: 70px 0;
}
/* global css end here */

/* header css start */
.site-header{
    background-color: #262525;
}

.site-logo img {
    max-width: 25rem;
}
.site-header nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2.5rem 0;
}
.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav ul li{
    padding: 0 2rem;
}
.main-nav ul li a{
    font-size: 1.8rem;
    color: #fff;
    position: relative;
}
.main-nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -7px;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s linear;

}
.main-nav ul li a:hover::before, .main-nav ul li a.active::before {
width: 100%;
}
.site-header.fixed-header {
    position: fixed;
    z-index: 99;
    width: 100%;
}
/* header css end  */


/* banner css start  */
.site-banner{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
.banner-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-txt{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.banner-txt h1{
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
}
.site-banner.sub-banner {
    height: 500px;
}
.sub-banner .banner-txt h1{
    font-size: 5rem;
}
.sub-banner .banner-txt p{
    font-size: 2.2rem;
}
.banner-txt p{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}
.close, .toggle{
    display: none;
}
/* banner css end */
.plan-heading h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.plan-heading p {
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    line-height: 1.9;
}
.plan-card-box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.plan-img {
    width: 100%;
    height: 150px;
    background: #fff;
}
.plan-card{
    width: 22%; 
}
.plan-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 30px;
}
.plan-txt p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

/* about us css start  */
.about-text h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}
.about-text p {
    font-size: 1.6rem;
    color: #fff;
}
.about-img{
    height: 100%;
    width: 100%;
}
.about-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* about us css end */
/* link card css start  */
.links-card{
    width: 33%;
    position: relative;
}
.link-img {
    height: 400px;
    width: 100%;
}
.link-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.link-txt h4 {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.link-txt {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0;
    z-index: 99;
}
.link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.links-card::before, .links-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 9;
    opacity: 0.4;
    transition: all 0.3s linear;

}
.links-card::after{
    height: 0;
}
.links-card:hover::after{
height: 100%;
}
/* link card css end */




/* faq css start */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-button::after {
    transition: all 0.5s;
    background-size: 30px;
    height: 30px;
    width: 30px;
}

.accordion-item {
    background-color: #fff;
    border: none;
}

.accordion-button:not(.collapsed),
.accordion-button {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion-body {
    padding: 15px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1.4rem;
    background: #dfdfdf;
}

:focus-visible {
    outline: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button {
    border-radius: 10px !important;
    font-size: 1.8rem;
    padding: 15px 20px;
}

.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* .accordion-button::after {
    filter: brightness(0) invert(1);
} */

.site-heading h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

div#accordionExample {
    max-width: 900px;
    margin: 0 auto;
}

/* faq css end */

/* sub pages css start  */
.moretext {
    display: none;
  }

  a.moreless-button, a.read_more {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 13px 40px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: all 0.3s linear;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;
}
a.moreless-button:hover, a.read_more:hover{
    background-color: #fff;
    color: #000;
}
.top-txt p {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}
.top-txt {
    text-align: center;
}
.top-txt h3{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.hotel-text h3 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}
.hotel-text p{
    font-size: 1.6rem;
    color: #fff;
}
.address p{
    font-style: italic;
    font-weight: 600;
    margin-bottom: 5px;
}
.address p:last-child{
    margin-bottom: 1rem;
}
.hotel-text {
    padding: 3rem;
}
.hotel-img {
    height: 100%;
    width: 100%;
}
.hotel-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hotel-wrap {
    margin-top: 50px;
}
.disclaimer-text h4 {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 15px;
}
.disclaimer-text p{
    color: #fff;
    font-size: 1.4rem;
}
.hotel-text ul li {
    font-size: 1.6rem;
    color: #fff;
    margin: 10px 0;
}
.hotel-text ul li a{
    color: #fff;
    text-decoration: underline;
}
.privacy-wrap p a{
    font-weight: 700;
    color: #fff;
}
.privacy-wrap p, .privacy-wrap ul li {
    font-size: 1.6rem;
    color: #fff;
}
.privacy-wrap ul li{
    margin: 10px 0;
}
.privacy-wrap ul {
    list-style: disc;
    margin: 10px 0;
}
.privacy-wrap{
    margin-bottom: 30px;
}
.hotel-wrap .row {
    /* align-items: center; */
}
/* sub pages css end  */



/* footer section css start  */
footer{
    padding-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-wrap {
    text-align: center;
}
.footer-logo img {
    max-width: 300px;
}
.social-link ul li a {
    font-size: 2.2rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    transition: all 0.3s linear;

}
.social-link ul li a:hover{
    background-color: #fff;
    color: #000;
}
.social-link ul {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 25px;
}
.copy-right p {
    color: #9c9c9c;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.footer-links ul li a {
    font-size: 1.6rem;
    color: #fff;
}
.footer-links ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.copy-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    margin-top: 50px;
    border-top: 1px solid;
}
/* footer section css end */



